strong, h2 {
    width: 100%;
    color:white;
    font-size: xx-large;
    text-align: center;
    margin: 20px 0 20px 0;
    line-height: 60px;
}
a {
    text-decoration: underline;
    color: red;
}
ul {
    margin-left: 40px;
    list-style-type: disc;
}
li {
    margin: 12px 0 12px 0;
}
.rule-page {
    font-size: 1.25rem;
}

@media (max-width:1024px) {
    strong, h2 {
        font-size: x-large;
        margin: 0px 0 0px 0;
    }
    .rule-page {
        font-size: 1.1rem;
    }
}