@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baseurl: "/";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  overflow: hidden;
}

canvas {
  width: 100vw;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: white;
  text-align: center;
}

footer a {
  color: rgb(117, 172, 250);
  text-decoration: none;
}

.MuiDataGrid-root {
  color: white;
}

.MuiDataGrid-cell a {
  color: white;
}

.MuiDataGrid-footerContainer {
  /* height: 120px; */
  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #222;
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@font-face {
  font-family: 'Montserrat';
  src: url('https://s3.eu-west-2.amazonaws.com/lobbyuat.bollygaming.games/slot/general/font/Montserrat-VariableFont_wght.ttf'),
    url('/assets/general/font/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Salsa';
  src: url('https://s3.eu-west-2.amazonaws.com/lobbyuat.bollygaming.games/slot/general/font/Salsa-Regular.ttf'),
  url('/assets/general/font/Salsa-Regular.ttf');
}

@font-face {
  font-family: 'Blood';
  src: url('https://s3.eu-west-2.amazonaws.com/lobbyuat.bollygaming.games/slot/general/font/Another Danger - Demo.otf'),
  url('/assets/general/font/Another Danger - Demo.otf');
}

@font-face {
  font-family: 'London';
  src: url('https://s3.eu-west-2.amazonaws.com/lobbyuat.bollygaming.games/slot/general/font/OldLondon.ttf'),
  url('/assets/general/font/OldLondon.ttf');
}

@font-face {
  font-family: 'Silvano';
  src: url('https://s3.eu-west-2.amazonaws.com/lobbyuat.bollygaming.games/slot/general/font/Silvano.otf'),
  url('/assets/general/font/Silvano.otf');
}

@font-face {
  font-family: 'Poppins';
  src: url('https://s3.eu-west-2.amazonaws.com/lobbyuat.bollygaming.games/slot/general/font/Poppins-Regular.ttf'),
  url('/assets/general/font/Poppins-Regular.ttf');
}